APP_NAME="iscoin"
API_SERVER_HOST="http://0.0.0.0:3000"
EOS_HOST="0.0.0.0"
EOS_PORT="8888"
EOS_PROTOCOL="http"
EOS_CHAIN_ID="abcd"
BLOCKS_BEHIND="3"
EXPIRE_SECONDS="30"
AUTH_EXPIRY="3600000"
CURRENCY_SYMBOL="PROTO"
CURRENCY_DECIMAL_PLACES="4"
ISCOIN_CONTRACT="iscoinalpha1"
